{{#if cart}}
    <div class="card">
    <p>soy el cart {{cart._id}}</p>
    <ul>
        {{#each cart.products}}
        <li>
            <div class="bg-secondary">
                <img src="https://d22k5h68hofcrd.cloudfront.net/magefan_blog/C_mo_saber_el_modelo_de_tu_laptop.png" alt="Imagen"
                    class="card-image">

            <p>Nombre del producto: {{this.product.title}}</p>
            <p>Precio: $ {{this.product.price}}</p>
            <p>Stock disponible: $ {{this.product.stock}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            </div>
        </li>
        
        {{/each}}
    </ul>
    <button class="card-button bg-success">Comprar</button>
    </div>
   
{{/if}}