<div >
    <ul class="d-flex flex-row-reverse">
        <li><a class="mx-3" href="http://localhost:8080/api/sessions/logout">Cerrar Sesión</a></li>
        <li><a class="mx-3" href="http://localhost:8080/realtimeproducts">Realtime (para admin)</a> </li>
        <li><a class="mx-3" href="http://localhost:8080/profile">Perfil</a></li>
    </ul>
    
    
</div>
<div class="titleContainer">
    <h1>Productos disponibles</h1>
</div>

<div class="gridContainer">
    {{#each products}}
    <div class="card">
        <img src="https://d22k5h68hofcrd.cloudfront.net/magefan_blog/C_mo_saber_el_modelo_de_tu_laptop.png" alt="Imagen" class="card-image">
        
        <h2 class="card-title">{{this.title}}</h2>
        
        
        <p class="card-id">ID: {{this._id}}</p>
        
        <p class="card-price"> precio: $ {{this.price}}</p>
        <div class="d-flex flex-column mb-3">
            <button class="card-button" onclick="toggleDescripcion(this)" data-visible="false">Mostrar descripción</button>
            <p class="card-description">{{this.description}}</p>
            <button class="card-button bg-warning"  ><a href="api/products/{{this._id}}">Ver detalles</a></button>
            <button class="card-button bg-success">Añadir al Carrito</button>
        </div>
       
    </div>
    {{/each}}

    {{#if pagination.hasPrevPage}}
    <a style='font-size: 20;' href='/home/?page={{pagination.prevPage}}'>⬅{{pagination.prevPage}}</a>
    {{/if}}
    <a style='font-size: 20;' href='#'>{{pagination.page}}</a>
    {{#if pagination.hasNextPage}}
    <a style='font-size: 20;' href='/home/?page={{pagination.nextPage}}'>{{pagination.nextPage}}➡</a>
    {{/if}}
    <br />
    <br />
    {{#each links}}
    <a href='{{this.href}}'>{{this.label}}</a>
    {{/each}}
</div>

<script src="/js/index.js"></script>