{{#if user}}
    {{#if product}}
        <div class="card">
        <img src="https://d22k5h68hofcrd.cloudfront.net/magefan_blog/C_mo_saber_el_modelo_de_tu_laptop.png" alt="Imagen" class="card-image">

        <h2 class="card-title">{{product.title}}</h2>


        <p class="card-id">ID: {{product._id}}</p>
        <p class="card-price"> precio: $ {{product.price}}</p>
        <div class="d-flex flex-column mb-3">
       
        <p class="card-description">{{product.description}}</p>
        <p class="card-description">el cid es: {{user.cart}}</p>
        
        <form action="/api/carts/{{user.cart}}/products/{{product._id}}" method="POST">
            <button type="submit" class="btn btn-primary card-button">Agregar al carrito</button>
        </form>

       
        </div>

    </div>
    {{/if}}
{{/if}}